<div class="container">
    
    <h1 class="text-center">Eat-Da-Burger!</h1>
    
    <br>
    <hr>

    <div class="row d-lg-flex justify-content-around">
        <div class="col-lg-6">
            <h3 class="text-center">Burgers You Can Order</h3>
            {{#each burgers}} {{#unless this.devoured}}
            <div class="text-center">
                <form action="/burgers/{{this.id}}?_method=PUT" method="POST">
                    <button type="submit" class='btn btn-success btn-margin'> {{this.burger_name}}</button>
                </form>
            </div>
            {{/unless}} {{/each}}
        </div>

        <div class="col-lg-6">
            <h3 class="text-center">Burgers Devoured</h3>
            <div class="d-block">
            {{#each burgers}} {{#if this.devoured}}
            <div class='text-center'>
                <div class="btn btn-dark btn-margin">
                    {{this.burger_name}}
                </div>
            </div>
            {{/if}} {{/each}}
            </div>
        </div>
    </div>

    <br>
    <hr>

    <h2>Add A Burger Option</h2>

    <div class="row">
        <div class="col-md-12">
            <form action="/burgers" method="POST">
                <input type="text" id="name" name="burger_name">
                <button type="submit" class="add-burger-button">Add Burger</button>
            </form>
        </div>
    </div>

</div>